<!-- ログイン画面(削除された(退職)ユーザーの場合) -->
<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン画面</title>
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">
    <link rel="icon" href="../../static/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&family=M+PLUS+1:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="auth-container">
            <h1 class="denied">アクセス権限がありません</h1>
        </div>
    </body>
</html>
