/* ボディ部分 */
body {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    min-height: 100vh;
    width: 100vw;
    background: #FFFFFF;
    border: 5px solid #4794FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1;
}

/* ヘッダー部分 */
.header-inner{
    height: 80px;
    display:flex;
    align-items: center;
    background-color: #4794FF;
}

/* アプリ名 */
.app-name {
    position: fixed;
    left: 2rem;
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 70px;
    color: #FFFFFF;
}

/* アプリ名小 */
.app-name span {
    font-size: 18px;
    color: #FFFFFF;
}

.channel-icon-header2 {
    height: 57px;
    position: fixed;
    display: flex;
    align-items: center;
    right: 2rem;
    margin: 0;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.h2 {
    position: fixed;
    left: 2rem;
    margin: 0;
    font-weight: 400;
    font-size: 23px;
    line-height: 70px;
}

/* ユーザー追加ボタン */
.useradd-button {
    position: absolute;
    width: 222px;
    height: 43px;
    right: 1rem;
    bottom: 2rem;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    background: #4794FF;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

/* ボタンにカーソルがある時 */
.useradd-button:hover {
    background-color: #3C53FF;
}

p {
    margin-top: 5px;
    margin-bottom: 0%;
    text-align: center;
}